ytd-thumbnail-overlay-time-status-renderer {
  visibility: hidden !important;
}

.ytp-time-display {
  visibility: hidden !important;
}

.ytp-progress-bar {
  visibility: hidden !important;
}

.YtInlinePlayerControlsTimeDisplay {
  visibility: hidden !important;
}

yt-image {
  /* Blur thumbnails. */
  filter: blur(8px);
}