/* Need to bump up the specificity. */
body:not(div) {
    cursor: initial !important;
}

/* Disable broken video + content pinning. */
div.pinnable-content.pinned {
    position: initial !important;
    width: initial !important;
    height: initial !important;
}

div.pinnable-content.pinned * {
    position: initial !important;
}

.pinnable-placeholder {
    height: initial !important;
}

.buffering-controls {
    display: none !important;
}